.careerContainer {
    background-color: white;
    padding: 20px;
    margin-top: 15px;
    max-width: 100%;
    border-radius: 15px;
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
}


.careerContent {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.careerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    max-width: 20%;
    text-align: center;
    white-space: nowrap;
}

.companyLogo {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    object-fit: contain;
    display: flex;
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    white-space: nowrap;
}

.companyName {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.careerRight {
    flex-grow: 1;
    border-left: 1px solid #dcdcdc;
    padding-left: 20px;
    white-space: nowrap;
}

.careerPositionDuration {
    /*margin-top: -10px;*/
}

.careerRight h4 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.description {
    font-size: 14px;
}
